<!DOCTYPE html>
<html>
<head>
  <style>
  body{
    background-image:url("../static/CoIA5G.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  </style>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/static/ion.rangeSlider.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
</head>
<body>
  <div class="container">
    <svg id ="back" class="total" width = "100%" height="680">
      <svg id="test" width="100%" height="680">
        <a xlink:href="/" style="cursor: pointer">
          <text x="15%" y="10%" id="logo" text-anchor="middle" dominantBaseline="middle" opacity="1" fill="#E9E9E9" font-size="60px" font-family="Nunito">
            sellPhones
          </text>
        </a>
      </svg>
      <svg id="pink_section" width="60%" height ="680" x="20%">
        <rect id="rectangle" x="0" y="20%" width="100%" height="400" display="none" opacity="1" style="fill:#E9E9E9" rx="20" ry="20" />
        <foreignObject id="adv" width="100%" display="none" height="100%" x="0" y="15%" opacity="1">
          <form method="get">
            <input type = "hidden" name = "past3" value = "{{mate2}}" />
            <input type = "hidden" name = "past4" value = "{{check2}}" />
            <div class="topnav">
              <input id="basic_text2" type="text" name="feature_text" placeholder="Type something... (e.g. screen resolution, camera, audio jack, thinness)" {% if features != "None" %} value="{{features}}" {% endif %} required>
              <input id="brand_text" type="text" name="old_phone" placeholder="Old phone's brand and model (e.g. Apple iPhone 8S)" {% if old_phone != "Not Found" %} value="{{old_phone}}" {% endif %} >
              <div id="pref_slider">
                <input type="text" class="pref-slider" name="prefs" value="" />
              </div>
              <div id="slider2">
                <input type="text" class="js-range-slider" name="budgets" value="" />
              </div>
            <label class="radio_container" id="radio_new2">
              <input name="condition" type="radio" name="radio" value="new" {% if condition !="old" %} checked='checked' {% endif %}>
              <span class="radiomark"></span>
            </label>
            <label class="radio_container" id="radio_old2">
              <input name="condition" type="radio" name="radio" value="old" {% if condition =="old" %} checked='checked' {% endif %}>
              <span class="radiomark"></span>
            </label>
            <script>
            if("{{budget}}" != "None"){
              $(".js-range-slider").ionRangeSlider({
                min: 0,
                max: 1500,
                from: {{budget}},
                prefix:"$",
                skin: "flat",
                grid: true
              });}
              else{
                $(".js-range-slider").ionRangeSlider({
                  min: 0,
                  max: 1500,
                  from: 800,
                  prefix:"$",
                  skin: "flat",
                  grid: true
                });
              }
              if("{{prefs}}" != "None"){
                $(".pref-slider").ionRangeSlider({
                  min: 20,
                  max: 60,
                  from: {{prefs}},
                  skin: "flat",
                  grid:false,
                  hide_min_max: true,
                  hide_from_to: true
                });}
                else{
                  $(".pref-slider").ionRangeSlider({
                    min: 20,
                    max: 60,
                    from: 40,
                    skin: "flat",
                    grid:false,
                    hide_min_max: true,
                    hide_from_to: true
                  });
                }
              </script>
            </div>

            <button id="button_svg" width="100%" height="100%" type="submit" class="button">Search</button>

          </form>
        </foreignObject>
        <foreignObject id="advanced" width="100%" display="none" height="100%" x="0" y="15%" opacity="1">
          <form method="get">
            <input type = "hidden" name = "past" value = "{{mate}}" />
            <input type = "hidden" name = "past2" value = "{{check}}" />
            <div class="topnav">
              <input id="basic_text" type="text" name="feature_text" placeholder="Type something...">
              <div id="slider2">
                <input type="text" class="js-range-slider" name="budgets" value="" />
              </div>
              <script>
              if("{{budget}}" != "None"){
                $(".js-range-slider").ionRangeSlider({
                  min: 0,
                  max: 1500,
                  from: {{budget}},
                  prefix:"$",
                  skin: "flat",
                  grid: true
                });}
                else{
                  $(".js-range-slider").ionRangeSlider({
                    min: 0,
                    max: 1500,
                    from: 800,
                    prefix:"$",
                    skin: "flat",
                    grid: true
                  });
                }

                </script>
              </div>

              <button id="button_svg" width="100%" height="100%" type="submit" class="button">Search</button>

            </form>
          </foreignObject>
        </svg>
        <svg id ="blue_section" width="0" height="680" x="38%">
        </svg>
      </svg>
    </div>
    <script>
    console.log("{{features}}");
    let button_width = 150;
    let button_height = 60;
    let get_request = 0;
    let clicked = 0;

    function intro(){
      let svg = d3.select("#test");
      let height = svg.attr("height");
      let width = svg.attr("width");
      svg.append("g")
      .append("text")
      .text("find the perfect phone for you.")
      .attr("class","main")
      .attr("font-family", "Nunito")
      .attr("font-size", "35px")
      .attr("fill","#E9E9E9")
      .attr("text-anchor","middle")
      .attr("dominantBaseline","middle")
      .attr("x","50%")
      .attr("letter-spacing","2px")
      .attr("y", "40%");

      svg.append("g")
      .append("rect")
      .attr("class","main")
      .attr("class","main_rect2")
      .attr("width", button_width)
      .attr("height", button_height)
      .attr("rx",10)
      .attr("ry",10)
      .style("fill", "#E9E9E9")
      .attr("dominantBaseline","middle")
      .style("cursor","pointer")
      .attr("x","37%")
      .attr("y","46%")
      .on("click",function(){setup(false);});

      svg.append("g")
      .append("rect")
      .attr("class","main")
      .attr("class","main_rect")
      .attr("width", button_width)
      .attr("height", button_height)
      .attr("rx",10)
      .attr("ry",10)
      .style("fill", "#E9E9E9")
      .attr("dominantBaseline","middle")
      .style("cursor","pointer")
      .attr("x","52%")
      .attr("y","46%")
      .on("click",function(){setupAdvanced(false);});

      svg.append("g")
      .append("text")
      .text("Basic")
      .attr("class","main")
      .attr("font-family", "Nunito")
      .attr("font-size", "25px")
      .attr("id","basic_button")
      .style("cursor","pointer")
      .attr("fill","#777777")
      .attr("text-anchor","middle")
      .attr("dominant-baseline","central")
      .attr("x","43%")
      .attr("opacity","1")
      .attr("y", "50.3%")
      .on("click",function(){
        // d3.select("#basic_button")
        //   .transition()
        //   .duration(200)
        //   .attr("transform","translate(0,"+20+")");
          setup(false);});

      svg.append("g")
      .append("text")
      .attr("class","main_rect")
      .text("Advanced")
      .attr("class","main")
      .attr("id","advanced_button")
      .style("cursor","pointer")
      .attr("font-family", "Nunito")
      .attr("font-size", "25px")
      .attr("fill","#777777")
      .attr("text-anchor","middle")
      .attr("dominant-baseline","central")
      .attr("x","58%")
      .attr("opacity","1")
      .attr("y", "50.3%")
      .on("click",function(){setupAdvanced(false);});

    }
    function setupAdvanced(shifted){
      if(shifted === false){
        d3.selectAll(".main")
        .transition()
        .duration(500)
        .style("opacity","0")
        .remove();

      }
      let svg = d3.select("#pink_section");
      let height = svg.attr("height");
      let width = svg.attr("width");

      d3.select("#rectangle")
        .attr("y","15%")
        .attr("height",500);
      d3.select(".button")
        .style("top","62%");


      svg.append("g")
      .append("text")
      .text("what features do you care about in your phone?")
      .attr("id","condition")
      .attr("font-style","italic")
      .attr("font-family", "Nunito")
      .attr("font-size","18px")
      .attr("fill","#777777")
      .attr("text-anchor","start")
      .attr("dominantBaseline","middle")
      .attr("x","10%")
      .attr("y",165);
      //
      // svg.append("g")
      // .append("line")
      // .attr("class","line2")
      // .attr("id","text_line")
      // .attr("x1","60%")
      // .attr("x2","90%")
      // .attr("y1","160")
      // .attr("y2","160")
      // .attr("stroke","#777777")
      // .attr("stroke-linecap","round");

      d3.select("#slider2")
        .style("margin-top","40px");


      svg.append("g")
      .append("line")
      .attr("id","budget_line")
      .attr("class","line2")
      .attr("x1","33%")
      .attr("x2","90%")
      .attr("y1","425")
      .attr("y2","425")
      .attr("stroke","#777777")
      .attr("stroke-linecap","round");

      svg.append("g")
      .append("text")
      .text("what's your budget?")
      .attr("id","budget")
      .attr("font-style","italic")
      .attr("font-family", "Nunito")
      .attr("font-size","18px")
      .attr("fill","#777777")
      .attr("text-anchor","start")
      .attr("dominantBaseline","middle")
      .attr("x","10%")
      .attr("y",430);


      svg.append("g")
      .append("text")
      .text("do you want something similar to your current phone? (optional)")
      .attr("id","features")
      .attr("font-style","italic")
      .attr("font-family", "Nunito")
      .attr("font-size","18px")
      .attr("fill","#777777")
      .attr("text-anchor","start")
      .attr("dominantBaseline","middle")
      .attr("x","10%")
      .attr("y",265);
      //
      // svg.append("g")
      // .append("line")
      // .attr("id","feature_line")
      // .attr("class","line2")
      // .attr("x1","80%")
      // .attr("x2","90%")
      // .attr("y1","260")
      // .attr("y2","260")
      // .attr("stroke","#777777")
      // .attr("stroke-linecap","round");

      svg.append("g")
      .append("text")
      .text("how similar?")
      .attr("id","features")
      .attr("font-style","italic")
      .attr("font-family", "Nunito")
      .attr("font-size","18px")
      .attr("fill","#777777")
      .attr("text-anchor","start")
      .attr("dominantBaseline","middle")
      .attr("x","10%")
      .attr("y",365);

      svg.append("g")
      .append("text")
      .text("looking for new or older?")
      .attr("id","looking")
      .attr("font-style","italic")
      .attr("font-family", "Nunito")
      .attr("font-size","18px")
      .attr("fill","#777777")
      .attr("text-anchor","start")
      .attr("dominantBaseline","start")
      .attr("x","55%")
      .attr("y",365);


      svg.append("g")
      .append("line")
      .attr("id","similar_line")
      .attr("class","line2")
      .attr("x1","25%")
      .attr("x2","50%")
      .attr("y1","360")
      .attr("y2","360")
      .attr("stroke","#777777")
      .attr("stroke-linecap","round");

      svg.append("g")
      .append("line")
      .attr("id","new_line")
      .attr("class","line2")
      .attr("x1","82%")
      .attr("x2","90%")
      .attr("y1","360")
      .attr("y2","360")
      .attr("stroke","#777777")
      .attr("stroke-linecap","round");

      svg.append("g")
      .append("text")
      .text("newer (2018+)")
      .attr("id","newer")
      .attr("font-family", "Nunito")
      .attr("font-size","10px")
      .attr("fill","#777777")
      .attr("text-anchor","end")
      .attr("dominantBaseline","middle")
      .attr("x","71.3%")
      .attr("y",397);

      svg.append("g")
      .append("text")
      .text("little")
      .attr("id","little")
      .attr("font-family", "Nunito")
      .attr("font-size","10px")
      .attr("fill","#777777")
      .attr("text-anchor","end")
      .attr("dominantBaseline","middle")
      .attr("x","13%")
      .attr("y",397);

      svg.append("g")
      .append("text")
      .text("very")
      .attr("id","very")
      .attr("font-family", "Nunito")
      .attr("font-size","10px")
      .attr("fill","#777777")
      .attr("text-anchor","end")
      .attr("dominantBaseline","middle")
      .attr("x","50%")
      .attr("y",397);

      svg.append("g")
      .append("text")
      .text("older")
      .attr("id","older")
      .attr("font-family", "Nunito")
      .attr("font-size","10px")
      .attr("fill","#777777")
      .attr("text-anchor","end")
      .attr("dominantBaseline","middle")
      .attr("x","81%")
      .attr("y",397);

      d3.select("#basic_text2")
      .style("margin-left","11%")
      .style("margin-top","85px")
      .style("width","78%")
      .style("height","35px")
      .style("border","none")
      .style("border-radius","10px")
      .style("text-indent","10px")
      .style("font-family","Nunito")
      .style("font-style","italic")
      .style("color","#777777")
      .style("background-color","#DCDCDC");


      d3.select("#brand_text")
      .style("margin-left","11%")
      .style("margin-top","65px")
      .style("width","78%")
      .style("height","35px")
      .style("border","none")
      .style("border-radius","10px")
      .style("text-indent","10px")
      .style("font-family","Nunito")
      .style("font-style","italic")
      .style("color","#777777")
      .style("background-color","#DCDCDC");

      d3.select("#radio_new2")
      .style("margin-left","60%")
      .style("margin-top","-115px");

      d3.select("#radio_old2")
      .style("margin-left","75%")
      .style("margin-top","-121px");

      d3.select("#pink_section")
      .style("opacity","0");

      d3.selectAll(".features")
      .style("font-size","10px");

      if(shifted === false){
        d3.select("#pink_section")
        .transition()
        .duration(900)
        .style("opacity","1");
        d3.select("#rectangle")
        .transition()
        .duration(900)
        .style("display","initial");
        d3.select("#adv")
        .transition()
        .duration(900)
        .style("display","initial");
        return true;
      }else{
        d3.select("#pink_section")
        .style("opacity","1");
        d3.select("#rectangle")
        .style("display","initial");
        d3.select("#adv")
        .style("display","initial");
        clicked = 1;
        setTimeout(function() { fill_blue(); }, 300);
        return false;
      }
    }

    function setup(shift){
      if(shift===false){
        d3.selectAll(".main")
        .transition()
        .duration(500)
        .style("opacity","0")
        .remove();
      }

      let svg = d3.select("#pink_section");
      let height = svg.attr("height");
      let width = svg.attr("width");


      svg.append("g")
      .append("text")
      .text("what features do you care about in your phone?")
      .attr("id","condition")
      .attr("font-style","italic")
      .attr("font-family", "Nunito")
      .attr("font-size","18px")
      .attr("fill","#777777")
      .attr("text-anchor","start")
      .attr("dominantBaseline","middle")
      .attr("x","10%")
      .attr("y",195);

      svg.append("g")
      .append("line")
      .attr("class","line2")
      .attr("id","text_line")
      .attr("x1","65%")
      .attr("x2","90%")
      .attr("y1","190")
      .attr("y2","190")
      .attr("stroke","#777777")
      .attr("stroke-linecap","round");


      svg.append("g")
      .append("line")
      .attr("id","budget_line")
      .attr("class","line2")
      .attr("x1","33%")
      .attr("x2","90%")
      .attr("y1","310")
      .attr("y2","310")
      .attr("stroke","#777777")
      .attr("stroke-linecap","round");

      svg.append("g")
      .append("text")
      .text("what's your budget?")
      .attr("id","budget")
      .attr("font-style","italic")
      .attr("font-family", "Nunito")
      .attr("font-size","18px")
      .attr("fill","#777777")
      .attr("text-anchor","start")
      .attr("dominantBaseline","middle")
      .attr("x","10%")
      .attr("y",315);

      d3.select("#basic_text")
      .style("margin-left","11%")
      .style("margin-top","115px")
      .style("width","78%")
      .style("height","35px")
      .style("border","none")
      .style("border-radius","10px")
      .style("text-indent","10px")
      .style("font-family","Nunito")
      .style("font-style","italic")
      .style("color","#777777")
      .style("background-color","#DCDCDC");


      d3.select("#pink_section")
      .style("opacity","0");

      if(shift === false){
        d3.select("#pink_section")
        .transition()
        .duration(900)
        .style("opacity","1");
        d3.select("#rectangle")
        .transition()
        .duration(900)
        .style("display","initial");
        d3.select("#advanced")
        .transition()
        .duration(900)
        .style("display","initial");
        return true;
      }
      else{
        d3.select("#pink_section")
        .style("opacity","1");
        d3.select("#rectangle")
        .style("display","initial");
        d3.select("#advanced")
        .style("display","initial");
        clicked = 1;
        setTimeout(function() { fill_blue(); }, 300);
        return false;
      }
    }

    function fill_blue(){
      console.log("filled_blue");
      let svg = d3.select("#blue_section")
      let height = svg.attr("height");
      let width = svg.attr("width");

      svg.append("g")
      .append("text")
      .text("results")
      .attr("id","search_results")
      .attr("font-family", "Nunito")
      .attr("font-size", "20px")
      .attr("fill","#E9E9E9")
      .style("opacity",0)
      .attr("text-anchor","middle")
      .attr("textLength","70px")
      .attr("dominantBaseline","start")
      .attr("x","14%")
      .attr("y",90);

      d3.select("#search_results")
      .transition()
      .style("opacity",1)
      .delay(100);

      d3.select("#blue_section")
      .transition()
      .duration(400)
      .attr("width", "62%");
    }

    function move_svg(level, repeat){
      if(repeat === false){
        d3.select("#text_line")
        .transition()
        .duration(400)
        .attr("x1","87%");

        d3.select("#budget_line")
        .transition()
        .duration(400)
        .attr("x1","45%");

        if(level==="basic"){
          d3.select("#text_line")
          .transition()
          .duration(400)
          .attr("x1","25%")
          .style("opacity","0")
          .remove();

          d3.select("#budget_line")
          .transition()
          .duration(400)
          .style("opacity","0")
          .remove();

          d3.select("#pink_section")
          .transition()
          .duration(400)
          .attr("y","-5%")
          .attr("width", "39%")
          .attr("x","1%");
        }
        else{
          d3.selectAll(".line2")
          .transition()
          .duration(400)
          .style("opacity","0")
          .remove();

          d3.select("#what_else")
          .style("font-size","12px");

          d3.select("#pink_section")
          .transition()
          .duration(400)
          .attr("width", "39%")
          .attr("x","1%");

          d3.select("#very")
          .transition()
          .duration(400)
          .attr("x","51.5%");

          d3.select("#looking")
          .transition()
          .duration(400)
          .text("newer or older?");

          d3.select("#features")
          .transition()
          .duration(400)
          .text("similar to your current phone? (optional)");

          d3.select("#basic_text2")
            .transition()
            .duration(400)
            .attr("placeholder","Type something... (e.g. screen resolution)");

          d3.select("#newer")
            .transition()
            .duration(400)
            .text("newer")
            .attr("x","69%");
          d3.select("#older")
            .transition()
            .duration(400)
            .attr("x","83%");

          if("{{best_match}}" !== "Not Found")
          {
            d3.select("#pink_section").append("g")
            .append("text")
            .text("current phone: " + "{{best_match}}")
            .attr("id","phone_display")
            .attr("font-family", "Nunito")
            .attr("font-size", "16px")
            .attr("fill","#E9E9E9")
            .style("opacity",1)
            .attr("dominantBaseline","start")
            .attr("x","0%")
            .attr("y",620);
          }

        }
        d3.select("#rectangle")
        .transition()
        .duration(400)
        .attr("rx",5)
        .attr("ry",5);


      }else{
        d3.select("#text_line")
        .attr("x1","87%");

        d3.select("#budget_line")
        .attr("x1","45%");

        if(level==="basic"){
          d3.select("#text_line")
          .attr("x1","25%")
          .style("opacity","0")
          .remove();

          d3.select("#budget_line")
          .style("opacity","0")
          .remove();

          d3.selectAll(".features")
          .style("font-size","9px");
          d3.select("#pink_section")
          .attr("y","-5%")
          .attr("width", "39%")
          .attr("x","1%");

        }
        else{
          d3.selectAll(".line2")
          .style("opacity","0")
          .remove();

          d3.select("#very")
          .attr("x","51.5%");

          d3.select("#features")
          .text("similar to your current phone? (optional)");

          d3.select("#basic_text2")
            .attr("placeholder","Type something... (e.g. screen resolution)");

          d3.select("#newer")
            .text("newer")
            .attr("x","69%");
          d3.select("#older")
            .attr("x","83%");

          if("{{best_match}}" !== "Not Found")
          {
            d3.select("#pink_section").append("g")
            .append("text")
            .text("current phone: " + "{{best_match}}")
            .attr("id","phone_display")
            .attr("font-family", "Nunito")
            .attr("font-size", "16px")
            .attr("fill","#E9E9E9")
            .style("opacity",1)
            .attr("dominantBaseline","start")
            .attr("x","0%")
            .attr("y",620);
          }

          d3.select("#looking")
          .text("newer or older?");
        }
        d3.select("#rectangle")
        .attr("rx",5)
        .attr("ry",5);

        d3.select("#pink_section")
        .attr("width", "39%")
        .attr("x","1%");




      }
      d3.selectAll(".button")
      .style("left","40%");





      d3.select("#button_svg")
      .style("top","65%");

      if(level==="notbasic"){
        d3.select("#button_svg")
        .style("top","63%");
      }

      names = {{names | tojson}};
      urls = {{urls | tojson}};
      related = {{close_words | tojson}};
      scores = {{scores | tojson}};
      prices = {{price | tojson}};
      snames = {{spnames | tojson}};
      nfeat = {{name_feat | tojson}};
      nval = {{name_val | tojson}};
      svals = {{spvals | tojson}};

      let svg = d3.select("#blue_section");
      let ifnext = 0;
      let current = 0;

      if (names.length > 6){
        ifnext = 1;
      }

      svg.append("g")
      .append("text")
      .text("next")
      .attr("id","next")
      .attr("font-family", "Nunito")
      .attr("font-size", "20px")
      .attr("fill","#E9E9E9")
      .style("cursor","pointer")
      .style("opacity",1)
      .attr("text-anchor","middle")
      .attr("dominantBaseline","start")
      .attr("x","85%")
      .attr("y",660)
      .on("click",function(){
        console.log(ifnext);
        console.log(current);
        if(ifnext === 1 && current === 0){
          console.log("success");
          d3.selectAll(".image_text")
          .transition()
          .duration(200)
          .style("opacity",0)
          .style("display","none");

          d3.selectAll(".text_image")
          .transition()
          .duration(200)
          .style("opacity",0)
          .style("display","none");

          d3.selectAll(".image_text2")
          .transition()
          .delay(300)
          .duration(200)
          .style("opacity",1)
          .style("display","initial");

          d3.select("#previous")
          .style("display","initial");

          current = 1;
          if (names.length <= 12){
            ifnext = 0;
          }
          ifprev=1;
        }

        else if (ifnext === 1 && current === 1){
          d3.selectAll(".image_text2")
          .transition()
          .duration(200)
          .style("opacity",0)
          .style("display","none");

          d3.selectAll(".image_text3")
          .transition()
          .delay(300)
          .duration(200)
          .style("opacity",1)
          .style("display","initial");
          current=2;
          ifnext=0;

          d3.select("#next")
          .style("display","none");


        }


      });

      let ifprev = 0;

      svg.append("g")
      .append("text")
      .text("previous")
      .attr("id","previous")
      .attr("font-family", "Nunito")
      .attr("font-size", "20px")
      .attr("fill","#E9E9E9")
      .style("cursor","pointer")
      .style("display","none")
      .attr("text-anchor","middle")
      .attr("dominantBaseline","start")
      .attr("x","75%")
      .attr("y",660)
      .on("click",function(){
        if(ifprev === 1 && current === 1){
          d3.selectAll(".image_text")
          .transition()
          .delay(300)
          .duration(200)
          .style("opacity",1)
          .style("display","initial");

          d3.selectAll(".text_image")
          .transition()
          .delay(300)
          .duration(200)
          .style("opacity",1)
          .style("display","initial");

          d3.selectAll(".image_text2")
          .transition()
          .duration(200)
          .style("opacity",0)
          .style("display","none");

          current = 0;
          ifnext=1;
          ifprev=0;
          d3.select("#previous")
          .style("display","none");
        }

        else if (ifprev === 1 && current === 2){
          d3.selectAll(".image_text2")
          .transition()
          .delay(300)
          .duration(200)
          .style("opacity",1)
          .style("display","initial");

          d3.selectAll(".image_text3")
          .transition()
          .duration(200)
          .style("opacity",0)
          .style("display","none");
          current = 1;
          ifnext=1;

          d3.select("#next")
          .style("display","initial");


        }


      });

      function wrap(text, width, content) {
        text.each(function () {
          var text = d3.select(this),
          words = content.split(/\s+/).reverse(),
          word,
          line = [],
          lineNumber = 0,
          lineHeight = 1.1, // ems
          x = text.attr("x"),
          y = text.attr("y"),
          dy = 0, //parseFloat(text.attr("dy")),
          tspan = text.text(null)
          .append("tspan")
          .attr("x", x)
          .attr("y", y)
          .attr("dy", dy + "em");
          while (word = words.pop()) {
            line.push(word);
            tspan.text(line.join(" "));
            if (tspan.node().getComputedTextLength() > width) {
              line.pop();
              tspan.text(line.join(" "));
              line = [word];
              tspan = text.append("tspan")
              .attr("x", x)
              .attr("y", y)
              .attr("dy", ++lineNumber * lineHeight + dy + "em")
              .text(word);
            }
          }
        });
      }

      function dialogue(phone,url,rel,score,price,idx){
        let svg = d3.select("#back");

        svg.append("g")
        .append("rect")
        .attr("class","diag")
        .attr("id","dialogue")
        .attr("width","80%")
        .attr("height","100%")
        .attr("rx", 6)
        .attr("ry", 6)
        .attr("x","12.5%")
        .attr("y","0%")
        .style("fill","#E9E9E9")
        .style("opacity","0");

        svg.append('image')
        .attr("id","dialogue_image")
        .attr("class","diag")
        .attr('xlink:href', url)
        .attr('width', 225)
        .attr('height', 195)
        .style("opacity",0)
        .attr('x',"17.5%")
        .attr('y',"5%");

        svg.append("g")
        .append("text")
        .text(phone)
        .style("font-weight","bold")
        .attr("id","dialogue_text")
        .attr("font-style","bold")
        .attr("class","diag")
        .attr("font-family", "Nunito")
        .attr("font-size","18px")
        .attr("fill","#000")
        .attr("x","17.5%")
        .attr("y","45%");

        svg.append("g")
        .append("text")
        .text("Query Features")
        .style("font-weight","bold")
        .attr("class","diag")
        .attr("id","dialogue_text")
        .attr("font-style","bold")
        .attr("font-family", "Nunito")
        .attr("font-size","18px")
        .attr("fill","#000")
        .attr("x","40%")
        .attr("y","7.5%");

        svg.append("g")
        .append("text")
        .attr("class","diag")
        .text("Miscellaneous")
        .style("font-weight","bold")
        .attr("id","dialogue_text")
        .attr("font-style","bold")
        .attr("font-family", "Nunito")
        .attr("font-size","18px")
        .attr("fill","#000")
        .attr("x","60%")
        .attr("y","7.5%");

        for(let i = 0; i<nfeat.length; i++){
          svg.append("g")
          .append("text")
          .attr("class","diag")
          .text(nfeat[i]+ ": " + nval[i])
          .attr("id","dialogue_text")
          .attr("font-family", "Nunito")
          .attr("font-size","15px")
          .attr("fill","#000")
          .attr("x","40%")
          .attr("y",(10+2.5*i)+"%");
        }

        for(let i = 0; i<snames.length; i++){
          if(i<2){
            svg.append("g")
            .append("text")
            .attr("class","diag")
            .text(snames[i]+ ": " + svals[idx][i])
            .attr("id","dialogue_text")
            .attr("font-family", "Nunito")
            .attr("font-size","15px")
            .attr("fill","#000")
            .attr("x","17.5%")
            .attr("y",(47.5+2.5*i)+"%");
          }
          else if(i>=9 && i < 11){
            svg.append("g")
            .append("text")
            .attr("class","diag")
            .text(snames[i]+ ": " + svals[idx][i])
            .attr("id","dialogue_text")
            .attr("font-family", "Nunito")
            .attr("font-size","15px")
            .attr("fill","#000")
            .attr("x","17.5%")
            .attr("y",(52.5+2.5*i)+"%")
            .call(wrap,800,snames[i]+ ": " + svals[idx][i]);
          }
          else if (i>=11){
            svg.append("g")
            .append("text")
            .attr("class","diag")
            .text(snames[i]+ ": " + svals[idx][i])
            .attr("id","dialogue_text")
            .attr("font-family", "Nunito")
            .attr("font-size","15px")
            .attr("fill","#000")
            .attr("x","17.5%")
            .attr("y",(57.5+2.5*i)+"%")
            .call(wrap,800,snames[i]+ ": " + svals[idx][i]);
          }
          else {
            svg.append("g")
            .append("text")
            .attr("class","diag")
            .text(snames[i]+ ": " + svals[idx][i])
            .attr("id","dialogue_text")
            .attr("font-family", "Nunito")
            .attr("font-size","15px")
            .attr("fill","#000")
            .attr("x","17.5%")
            .attr("y",(50+2.5*i)+"%")
            .call(wrap,800,snames[i]+ ": " + svals[idx][i]);
          }
        }

        svg.append("g")
          .append("text")
          .text("Related Words: " + related[0])
          .attr("class","diag")
          .attr("id","dialogue_text")
          .attr("font-family", "Nunito")
          .style("font-weight","normal")
          .attr("font-size","15px")
          .attr("fill","#000")
          .attr("x","60%")
          .attr("y","15%");

        for(let i=1;i<related.length;i++){
          svg.append("g")
            .append("text")
            .text(related[i])
            .attr("class","diag")
            .attr("id","dialogue_text")
            .attr("font-family", "Nunito")
            .attr("font-size","15px")
            .attr("fill","#000")
            .attr("x","68.75%")
            .attr("y",(15+2.5*i)+"%");
        }


        svg.append("g")
        .append("text")
        .text("ML Model Price: $" + price)
        .attr("class","diag")
        .attr("id","dialogue_text")
        .attr("font-family", "Nunito")
        .attr("font-size","15px")
        .attr("fill","#000")
        .attr("x","60%")
        .attr("y","12.5%");

        // svg.append("g")
        // .append("text")
        // .text("Related Words: " + rel)
        // .attr("class","diag")
        // .attr("id","dialogue_text")
        // .style("font-weight","normal")
        // .attr("font-family", "Nunito")
        // .attr("font-size","15px")
        // .attr("fill","#000")
        // .attr("x","60%")
        // .attr("y","15%");

        svg.append("g")
        .append("text")
        .text("Similarity Score: " + score)
        .attr("class","diag")
        .attr("id","dialogue_text")
        .attr("font-family", "Nunito")
        .attr("font-size","15px")
        .attr("fill","#000")
        .attr("x","60%")
        .attr("y","10%");

        svg.append("g")
        .append("text")
        .text("X")
        .attr("class","diag")
        .attr("font-family", "Nunito")
        .attr("font-size","30px")
        .attr("fill","white")
        .style("cursor","pointer")
        .attr("x","85%")
        .attr("y","10%")
        .on("click",function(){
          d3.selectAll(".diag")
          .transition()
          .duration(200)
          .style("opacity","0")
          .remove();
        });


        d3.selectAll(".diag")
        .style("opacity","0");

        d3.selectAll(".diag")
        .transition()
        .duration(500)
        .style("opacity","1");

        d3.select("#dialogue")
        .transition()
        .duration(500)
        .style("opacity","0.95");

        d3.select("#dialogue_image")
        .transition()
        .duration(500)
        .style("opacity","1");

        d3.select("#dialogue_text")
        .transition()
        .duration(500)
        .style("opacity","1")

        return false;


      }

      if(names.length == 0){
        svg.append("text")
        .text("No Results")
        .attr("id","no_results")
        .attr("font-family", "Nunito")
        .attr("dominantBaseline","middle")
        .attr("text-anchor","middle")
        .attr('font-size',"30px")
        .attr("fill","#e9e9e9")
        .attr("x","50%")
        .attr("y","30%");

      }else{
        d3.select("#no_results")
        .remove();
      }




      if(names.length > 0){
        for(let i = 0; i < Math.min(6,names.length); i++){
          svg.append("g")
          .append("rect")
          .attr("class","phones")
          .attr("id",names[i])
          .attr("width", 290)
          .attr("height", 170)
          .attr("rx",5)
          .attr("ry",5)
          .style("fill", "#e9e9e9")
          .attr("dominantBaseline","middle")
          .style("opacity","0.35")
          .attr("x",i%2*40+10+"%")
          .attr("y",Math.floor((i/2))%3*27+15 + "%");


          d3.select("#blue_section").append('text')
          .attr("class","image_text")
          .text(names[i])
          .attr("font-family", "Nunito")
          .attr("dominantBaseline","start")
          .style("word-wrap","break-word")
          .style("cursor","pointer")
          .attr("textLength","150px")
          .attr("font-size", "14px")
          .attr("fill","#E9E9E9")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .style("opacity",0)
          .attr("x",i%2*40+30 + "%")
          .attr("y",Math.floor((i/2))%3*27+20 + "%")
          .call(wrap,80,names[i]);

          svg.append("text")
          .text("#" + (i+1))
          .attr("class","text_image")
          .attr("font-family","Nunito")
          .attr("font-size","16px")
          .attr("fill","#E9E9E9")
          .style("cursor","pointer")
          .style("opacity",0)
          .attr("dominantBaseline","start")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .attr('x', i%2*40+11.5+"%")
          .attr('y', Math.floor((i/2))%3*27+19+ "%");

          svg.append('image')
          .attr("class","image_text")
          .attr('xlink:href', urls[i])
          .style("cursor","pointer")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .attr('width', 200)
          .attr('height', 130)
          .style("opacity",0)
          .attr('x', i%2*40+9+"%")
          .attr('y', Math.floor((i/2))%3*27+17 + "%");
        }
        d3.selectAll(".image_text")
        .transition()
        .delay(500)
        .duration(400)
        .style("opacity",1);

        d3.selectAll(".text_image")
        .transition()
        .delay(500)
        .duration(400)
        .style("opacity",1);
      }

      if(names.length > 6){
        for(let i = 6; i < Math.min(12,names.length); i++){
          d3.select("#blue_section").append('text')
          .attr("class","image_text2")
          .text(names[i])
          .attr("font-family", "Nunito")
          .attr("dominantBaseline","start")
          .style("cursor","pointer")
          .style("word-wrap","break-word")
          .attr("textLength","150px")
          .attr("font-size", "14px")
          .attr("fill","#E9E9E9")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .style("opacity",0)
          .attr("x",i%2*40+30 + "%")
          .attr("y",Math.floor((i/2))%3*27+20 + "%")
          .call(wrap,80,names[i]);

          svg.append("text")
          .text("#" + (i+1))
          .attr("class","image_text2")
          .attr("font-family","Nunito")
          .style("cursor","pointer")
          .attr("font-size","16px")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .attr("fill","#E9E9E9")
          .style("display","none")
          .style("opacity",0)
          .attr("dominantBaseline","start")
          .attr('x', i%2*40+11.5+"%")
          .attr('y', Math.floor((i/2))%3*27+19+ "%");

          svg.append('image')
          .attr("class","image_text2")
          .style("cursor","pointer")
          .attr('xlink:href', urls[i])
          .attr('width', 200)
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .attr('height', 130)
          .style("display","none")
          .style("opacity",0)
          .attr('x', i%2*40+9+"%")
          .attr('y', Math.floor((i/2))%3*27+17 + "%");
        }
      }

      if(names.length > 12){
        for(let i = 12; i < Math.min(18,names.length); i++){
          d3.select("#blue_section").append('text')
          .attr("class","image_text3")
          .text(names[i])
          .attr("font-family", "Nunito")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .style("cursor","pointer")
          .attr("dominantBaseline","start")
          .style("word-wrap","break-word")
          .attr("textLength","150px")
          .attr("font-size", "14px")
          .attr("fill","#E9E9E9")
          .style("opacity",0)
          .attr("x",i%2*40+30 + "%")
          .attr("y",Math.floor((i/2))%3*27+20 + "%")
          .call(wrap,80,names[i]);

          svg.append("text")
          .text("#" + (i+1))
          .style("cursor","pointer")
          .attr("class","image_text3")
          .attr("font-family","Nunito")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .attr("font-size","16px")
          .attr("fill","#E9E9E9")
          .style("display","none")
          .style("opacity",0)
          .attr("dominantBaseline","start")
          .attr('x', i%2*40+11.5+"%")
          .attr('y', Math.floor((i/2))%3*27+19+ "%");

          svg.append('image')
          .attr("class","image_text3")
          .attr('xlink:href', urls[i])
          .style("cursor","pointer")
          .on("click",function(){dialogue(names[i],urls[i],related[i],scores[i],prices[i],i);})
          .attr('width', 200)
          .attr('height', 130)
          .style("display","none")
          .style("opacity",0)
          .attr('x', i%2*40+9+"%")
          .attr('y', Math.floor((i/2))%3*27+17 + "%");
        }
      }
      clicked = 1;
      setTimeout(function() { fill_blue(); }, 300);
      return false;
    }



    if("{{check}}" === "True" && "{{flag}}" === "True"){
      setup(true);
      move_svg("basic",true);
    }
    else if ("{{check}}" === "True"){
      setup(true);
      move_svg("basic",false);
    }
    else if("{{check2}}" === "True" && "{{flag2}}" === "True"){
      setupAdvanced(true);
      move_svg("notbasic",true);
    }
    else if("{{check2}}" === "True"){
      setupAdvanced(true);
      move_svg("notbasic",false);
    }else{
      intro();
    }





  </script>
</body>

</html>
